fastapi
uvicorn
python-multipart
Pillow
opencv-python-headless
# 锁定咱们刚刚千辛万苦测试成功的版本
mediapipe==0.10.14
# 强制指定下载极其轻量的 CPU 版 PyTorch，速度快 10 倍！
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
# 强制云端使用清华源，防止 Docker 构建时下载超时！
-i https://pypi.tuna.tsinghua.edu.cn/simple